
/* Global Rulse */

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif !important;
}

.container {
  margin: 0 auto;
}

.h-100 {
  height: 100vh;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row .col12 {
  width: 100%;
}

.row .col6{
  width: 50%;
}

.f-cairo {
  font-family: "cairo" , sans-serif !important;
}
